:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);

  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);

  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);

  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);

  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);

  --color-neutral-hover-content: oklch(92% 0.004 286.32/0.34);

  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);

  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);

  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);

  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 0.5rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
  --top-spacing: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  line-height: 1.5;
  min-height: 100dvh;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--color-base-content);
}

/* MARK:Composition */

/* Main layout*/
.main-layout {
  /*height: 100dvh; */
  display: grid;
  grid-template-columns: 15% 85%;
  /* grid-template-rows: 20% 80%;*/
}

.main-header {
  grid-column: 2 / 3;
}

.side-bar {
  grid-column: 1 / 2;
  grid-row: 1/3;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.header-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}

.socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*justify-items: center;*/
  align-items: center;
  width: 50rem;
  column-gap: 1rem;
  transform: translateX(-230px);
}

/*MARK:BLOCK*/

.main-header {
  background-color: var(--color-base-200);
}

.side-header-wrapper {
  display: flex;
  gap: 0.5rem;
  padding-block-start: var(--top-spacing);
  padding-block-end: 1.5rem;
}

.side-bar {
  background-color: var(--color-base-200);
  padding-inline-start: 1rem;
}

.side-bar nav img {
  filter: brightness(0.85);
}

.main-nav-bar a {
  /* padding: 1rem;*/
  cursor: pointer;
}

.main-nav-bar {
  padding-block-end: 1.5rem;
}

.link-container {
  transition: all 0.3s ease-in-out;
  padding-block: 0.5rem;
}

.link-container:hover {
  background-color: var(--color-neutral-hover-content);
}

.settings-nav a {
  /*padding: 1rem;*/
}

.logo {
  width: 48px;
  height: 48px;
  aspect-ratio: 1 / 1;
  filter: invert(83%) sepia(98%) saturate(4041%) hue-rotate(177deg)
    brightness(110%) contrast(104%);
}

.card {
  height: 200px;
  width: 300px;
  background-color: var(--color-error-content);
  padding: 1rem;
}

.card p {
  font-size: 1rem;
  font-weight: 300;
}

.search-field {
  border: none;
  width: 25rem;
  padding: 0.75rem;
  margin: 1rem;
  border-radius: var(--radius-selector);
}

.search-container {
  padding-inline: 1rem;
  padding-top: 1rem;
}

.search-wrapper::before {
  content: url(/public/assests/search_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
  width: 100px;
  padding-left: 1.5rem;
  vertical-align: middle;
}

.avatar {
  width: 54px;
  height: 54px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.avatar-2 {
  width: 74px;
  height: 74px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  grid-column: 1;
  grid-row: 1 / 3;
  justify-self: end;
}

.invitation {
  grid-column: 2 / 3;
}

.avatar-header {
  grid-column: 2/3;
  font-size: 2rem;
}

.bell-svg {
  width: 28px;
}

.search-text-login {
  font-size: 1.5rem;
}

.nav-button {
  border: none;
  padding: 1rem;
  margin: 1rem;
  min-width: 8rem;
  border-radius: var(--radius-box);
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-base-content);
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-button:hover {
  filter: brightness(0.9) saturate(0.7);
  color: var(--color-primary-content);
}

/*MARK: UTILITY*/

.flex-row {
  display: flex;
  gap: 0.5rem;
}

.space-between {
  justify-content: space-between;
}

.padding-inline-end {
  padding-inline-end: 2rem;
}

.gap-1 {
  gap: 1rem;
}

.align-center {
  align-items: center;
}
